@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@supports (padding: env(safe-area-inset-bottom)) {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
